= link_to trip_path(trip) do
  .card-item
    = image_tag trip.image_url, class: 'item-bg'
    .name.ellipsis
      = trip.name
    .price
      = number_to_currency(trip.tuktuk_price, :precision => 0)
    .desc.offset.ellipsis
      = trip.description
    .divider.offset
    .review.offset
      .rating.left
        - rating = if trip.comments.present? then tr = trip.comments.pluck(:rating) ;  tr.sum * 2 / tr.size / 2.0 else 5 end
        = render 'partials/rating', rating: rating

      span.review-num.right
        strong = pluralize(trip.comments.count, 'review')


