.container.trip_wrapper

  - if @trip.images.any?
    - img = @trip.images.first
    .trip-cover-img [ data-img = img.url]

  ul.clearing-thumbs.hide [data-clearing]
    - @trip.images.each do |i|
      li
        img[src=i.url]

  .trip_head_wrapper
    .row
      section#trip_header
        .large-9.small-12.trip_top_head.columns
          h1
            = @trip.name
          .meta_head
            section.trip_info_distance.meta_block.left
              = image_tag 'tour_distance.png', class: 'trip-logo'
              p.right
                span.distance.block.center
                  = @trip.distance.blank? ? '0' : @trip.distance
                  | &nbsp;km
                span.meta Distance

            section.trip_info_duration.meta_block.left
              = image_tag 'tour_duration.png', class: 'trip-logo'
              p.right
                span.duration.block.center
                  = @trip.duration.blank? ? '0' : @trip.duration
                span.meta Duration

            section.trip_info_checkpoints.meta_block.left
              = image_tag 'tour_checkpoint.png', class: 'trip-logo'
              p.right
                span.checkpoints.block
                  = @trip.checkpoint_num.blank? ? '0' : @trip.checkpoint_num
                span.meta Checkpoints

        .large-3.small-12.trip_top_info.columns
          h1
            span = @trip.tuktuk_price.to_i
            span $
          .meta_func
            a.trip_book_now href="#drivers-selection"
              | Book Now
            a.share
              | <i class="fa fa-heart-o"></i> Share



  .trip_detail_wrapper
    .row
      #detail-content.small-12.large-12.columns
        .row
          .highlight.small-12.large-5.columns
            h4
              span.header
                | Highlight
              - if @trip.highlight_html?
                  = @trip.highlight_html.html_safe

          .include-exclude.small-12.large-5.columns
            h4
              span.header
                | Include
              - if @trip.include_html?
                = @trip.include_html.html_safe
            h4
              span.header
                | Exclude
              - if @trip.exclude_html?
                = @trip.exclude_html.html_safe

          .tour-start-end.small-12.large-2.columns
            h4
              span.header
                | Start
                br
              - if @trip.tour_start?
                = @trip.tour_start
            br
            br
            h4
              span.header
                | End
                br
              - if @trip.tour_end?
                = @trip.tour_end
        .detail
          h3
            | Tour description

          .trip_content
            = @trip.content.html_safe

        / .price
            p
              span Price(USD): $
              span = @trip.tuktuk_price

        #drivers-selection
          = render 'drivers'
          /= render 'comments/comments', target: @trip
 
