@import 'settings';

body[id='tours-index'] {
  .tourpage-header {
    background-image: image-url('fullbg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5%;
    .header-content {
      height: 100%;
      .title {
        padding-top: 8%;
        text-align: center;
        @media #{$media-phone-smaller} {
          margin: 0 auto;
          padding-bottom: 0;
        }
        h1 {
          color: white;
          font-size: 3rem;
          font-weight: 600;
          @media #{$media-phone-smaller} {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
        h4 {
          color: white;
        }
      }
      .activites {
        margin: 0 auto;
        margin-top: 5%;
        text-align: center;
        h3 {
          color: #FFB94E;
          font-weight: 600;
          margin-bottom: 5%;
        }
        h5 {
          color: white;
          font-weight: 600;
        }
        a {
          color: white;
          .activity-box {
            margin: 0 auto;
            position: relative;
            width: 150px;
            height: 150px;
            background-color: #FFB94E;
            border-radius: 50%;
          }
        }
        @media #{$phone} {
          width: 300px;
          a {
            .activity-box {
              width: 100px;
              height: 100px;
            }
          } 
        }
      }
    }
  }
  .tourpage-content {
    background-color: white;
    padding: 15px 0;
    h3 {
      text-align: center;
      font-weight: 600;
      color: #FFB94E;
    }
    .activity-type {
      width: 100%;
      .activity-type-filter {
        display: inline-block;
        width: 20%;
        a.custome-button {
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis; 
        }
      }
    }
    @media #{$phone} {
      .activity-type {
        width: 320px;
        margin: 0 auto;
        .activity-type-filter {
          width: 50%;
        }
      }
    }
  }
  .card {
    .card-tour-image {
      width: 100%;
      height: 320px;
      img {
        width: 100%;
        position: relative;
        margin: 0 auto;
        height: inherit;
      }
      span.card-title {
        font-size: 18px;
        font-weight: 700;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      span.card-tour-price {
        position: absolute;
        top: 40%;
        right: 15%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #474747;
        font-size: 22px;
        font-weight: 600;
        color: white;
        text-align: center;
        padding-top: 12px;
      }
      @media #{$laptop} {
        height: 300px;
      }
      @media #{$tablet} {
        height: 220px;
      }
      @media #{$phone} {
        height: auto;
        span.card-tour-price {
          width: 45px;
          height: 45px;
          font-size: 12px;
        }
      }
    }
    .card-action {
      width: 100%;
      display: inline-flex;
      @media #{$tablet} {
        padding: 10px;
        font-size: 14px; 
      }
      @media #{$phone} {
        padding: 8px;
        font-size: 13px; 
      }
      .rating {
        color: #FFB400;
      }
      .review-num {
        text-align: right;
      }
      .rating,
      .review-num {
        width: 50%;
      }
    }
  }
}