<%= link_to(article_path(article)) do %>
    <% article.title %>
<% end %>
<br>
<div class="">
  <% if article.content? %>
        <span class="">
          <%= article.content.html_safe %>
        </span>
  <% end %>
</div>