
.active_admin_img {
  max-width: 50%;
  height: auto;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

/*map style*/
#map{
  width: 100%;
  height: 500px;
}

/*select2 style*/
span.select2.select2-container.select2-container--default{
	width: 80% !important;
}
