@import 'settings';

body[id='purchases-new'] {
  #paypal-container {
    display: inline-block;
    margin: auto;
  }

  .payment_box_wrapper {
    p {
      font-weight: 500;
    }
  }

  #card_details {
    display: none;
  }

  #bt_charge {
    cursor: pointer;
    background: #FEBD5A;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0px;
    padding: 10px 20px;
    @media #{$media-phone-smaller}{
      width: 100%;
    }
  }

  .success_wrapper {
    background: transparent;
    padding-bottom: 100px;
    img.success_check {
      margin: auto;
      text-align: center;
      max-width: 100px;
      margin-top: -30px;
    }
    .success_body {
      padding: 30px 0px 20px 0px;
      text-align: center;
      max-width: 650px;
      margin: auto;
      width: 100%;
      p {
        font-size: 1.12rem;
        margin: 20px 0px 30px 0px;
      }
      h4 {
        margin: 10px 0px 20px 0px;
        font-weight: 500;
      }
      img.line_break {
        margin: 20px 0px;
        max-width: 400px;
        width: 100%;
      }
      h3 {
        font-weight: 500;
      }
    }
  }

  .purchasepage-header {
    .navbar {
      position: absolute;
      z-index: 1;
    }

    .purchase-tour-image {
      height: 70vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      .tour-title {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        h2 {
          color: white;
          font-weight: 600;
          text-align: center;
        }
        .rating {
          color: #FFBE5B;
          text-align: center;
          font-size: 25px;
        }

      }
    }   
  }

  .purchasepage-content {
    .breadcrumbs-navigation {
      padding: 10px 0;
      background-color: #1ab399;
      ul#breadcrumbs {
        display: inline-block;
        li {
          padding-left: 2px;
          strong.current {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
        li.is_active {
          strong {
            color: #1ab399;
            background-color: white;
            &:after {
              border-left-color: white;
            }
          }
        }
        li.visited {
          strong {
            background-color: #52c9b4;
            &:after {
              border-left-color: #52c9b4;
            }
          }
        }
      }
    }

    .tabs-content {
      background-color: white;
      margin-bottom: 0;
      h3, h5 {
        color: #FFBE5B;
        font-weight: 600;
      }
      input {
        border-radius: 10px;
        height: 50px;
        color: grey;
        &:focus {
          border: 1px solid #FFBE5B;
        }
      }
      label {
        font-weight: 600;
        font-size: 16px;
        color: #FFBE5B;
      }
      #detail {
        h5 {
          margin-bottom: 20px;
        }
        .travellers_number {
          width: 100%;
          display: flex;
          .no-spin::-webkit-inner-spin-button, 
          .no-spin::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
            -moz-appearance:textfield !important;
          }
          input[type='number'] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            width: 60%;
          }
          a.increase, 
          a.decrease {
            position: relative;
            display: block;
            width: 20%;
            height: 50px;
            color: #FFBE5B;
            border: 1px solid #cccccc;
            i {
              position: absolute;
              top: 35%;
              left: 0;
              right: 0;
            }
          }
          a.increase {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        p {
          color: grey;
          margin-top: 30%;
        }
        a.omniauth_fb {
          margin: 0 auto;
          background-color: #5464a1;
          width: 80%;
          border-radius: 5px;
          padding: 10px 15px;
          .circle_icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
            i {
              color: #5464a1;
            }
          }
          strong {
            color: white;
            margin-left: 10px;
          }
          @media #{$tablet} {
            strong {
              font-size: 12px;
            }
          }
        }
      }

      #driver {
        .driver_details {
          width: 50%;
          display: inline-block;
          .btn_driver_details {
            float: left;
            padding: 5px 7px;
            border: 1px solid grey;
            border-radius: 5px;
            color: grey;
            width: 100px;
            text-align: center;
            &:hover {
              cursor: pointer;
            }
          } 
        }
        .driver_selected {
          width: 50%;
          display: inline-block;
          a {
            float: right;
            padding: 5px 7px;
            border: 1px solid #1ab399;
            border-radius: 5px;
            color: grey;
            width: 100px;
            text-align: center;
          }
        }
        .driver_info{
          background-color: #f8f8f8;
          padding: 20px 0;
          border: 1px solid grey;
          margin-top: 20px;
          margin-bottom: 20px;
          display: none;
          strong {
            color: #FFBE5B;
          }
          .driver_review {
            span.rating {
              color: #FFBE5B;
              padding: 10px; 
            }
            span.review {
              padding: 10px;
            }
          }
          .driver_pngs {
            width: 100%;
            p {
              font-size: 12px;
              text-align: center;
              margin-top: 10px;
            }
            .remork_png,
            .car_png,
            .location_png {
              display: inline-block;
              width: 33%;
              .round_img {
                background-color: #FFBE5B;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                img {
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 12px;
                  margin: 0 auto;
                  width: 40px;
                  height: 30px;
                }
              }
            }
            .location_png {
              .round_img {
                img { width: 25px;}
              }
            }
          }
          .driver_skill {
            p {
              margin-bottom: 3px;
            }
            i.check {
              color: #FFBE5B;
            }
            i.uncheck {
              color: red;
            }
          }
          .driver_gallery {
            .driver_image {
              margin-top: 8px;
              margin-bottom: 8px;
              border: 1px solid grey;
              background-color: white;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }
          }
          .tuktuk_price,
          .car_price {
            margin-top: 10px;
            vertical-align: center;
            .price {
              background-color: #FFBE5B;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              position: relative;
              strong {
                color: white;
                position: absolute;
                left: 0;
                right: 0;
                top: 27%;
                text-align: center;
              }
            }
            .driver_selected {
              margin-top: 6px;
            }
          }
        }
        .no_selected_driver {
          padding: 10px 15px;
          border: 2px solid grey;
          border-radius: 10px;
          color: grey;
          text-align: center;
          width: 30%;
          margin: 20px auto;
          font-size: 20px;
          font-weight: 400;
          &:hover {
            cursor: pointer;
          }
        }
      }

      #review {
        .tour_detail {
          h3 {
            color: #FFBE5B;
          }
        }
        .customer_detail {
          h4 {
            color: grey;
          }
          h4.total {
            font-weight: 600;
          }
        }
        .customer_expense {
          h4 {
            color: grey;
          }
          h4.total_price {
            font-weight: 600;
          }
        }
        .terms {
          color: grey;
          text-decoration: underline;
        }
        ul.tabs{
          display: inline-block;
        }
        #btn_book {
          border: 2px solid #1ab399;
          border-radius: 10px;
          color: grey;
          font-weight: 600;
          font-size: 16px;
          background-color: white;
          margin-bottom: 0;
          padding: 15px;
        }
      }

      .section-footer {
        padding: 10px;
        a {
          display: block;
          border: 2px solid #1ab399;
          border-radius: 10px;
          padding: 10px;
          color: grey;
          font-weight: 600;
        }
        ul {
          li {
            display: inline-block;
          }
        }
      }
    }
  }

  .card {
    box-shadow: none;
    .card-driver-image {
      width: 100%;
      height: 200px;
      img {
        width: 100%;
        position: relative;
        margin: 0 auto;
        height: inherit;
      }
      span.card-driver-avatar {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        overflow: hidden;
      }
      span.card-driver-price {
        position: absolute;
        top: -1%;
        right: 5%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFBE5B;
        font-size: 18px;
        font-weight: 600;
        color: white;
        text-align: center;
        padding-top: 12px;
      }
      @media #{$laptop} {
        height: 300px;
      }
      @media #{$tablet} {
        height: 220px;
      }
      @media #{$phone} {
        height: auto;
        span.card-driver-price {
          width: 45px;
          height: 45px;
          font-size: 12px;
        }
      }
    }
    .card-action {
      width: 100%;
      background-color: white;
      padding: 8px;
      @media #{$tablet} {
        font-size: 14px; 
      }
      @media #{$phone} {
        font-size: 13px; 
      }
      strong {
        display: block;
      }
      .desc_ellipsis {
        white-space: nowrap; 
        width: 100%; 
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis; 
      }
    }
  }

  #pickup_datetime {
    .xdsoft_datetimepicker {
      width: 70%;
      @media #{$phone} {
        width: 100%;
      }
      .xdsoft_label {
        z-index: 1;
        @media #{$phone} {
          width: 60px;
        }
      }
      .xdsoft_datepicker {
        width: 70%;
      } 
      .xdsoft_timepicker {
        float: right;
        width: 20%;
        .xdsoft_time_box {
          width: 70%;
          @media #{$phone} {
            width: 100%;
          }
        }
      }
    }
 
    // #pickup_date {
    //   padding-right: 0;
    //   .xdsoft_datetimepicker {
    //     width: 100%;
    //     border: none;
    //     outline: 1px solid grey;
    //     .xdsoft_datepicker.active {
    //       width: 97%;
    //       .xdsoft_label {
    //         z-index: 1;
    //       }
    //       .xdsoft_calendar {
    //         table {
    //           tbody {
    //             tr {
    //               td.xdsoft_date {
    //                 height: 35px;
    //               }
    //             }
    //           }
    //         }
    //       }
    //     }
    //   } 
    // }
    // #pickup_time {
    //   padding-left: 0;
    //   .xdsoft_datetimepicker {
    //     width: 100%;
    //     border: none;
    //     outline: 1px solid grey;
    //     .xdsoft_timepicker.active {
    //       width: 70%;
    //       margin-left: 17%;
    //       button.xdsoft_prev,
    //       button.xdsoft_next {
    //         margin: 7px auto;
    //       }
    //       .xdsoft_time_box {
    //         height: 209px;
    //         .xdsoft_time_variant {
    //           .xdsoft_time {
    //             height: 30px;
    //             padding-top: 3px;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

  }

  #gMap{
    min-height: 100px;
    
    a.close-reveal-modal{
      color: white;
    }
    
    .modal_header{
      background-color: #FFBE5B;
      min-height: 50px;
      h3{
        color: white;
        margin-top: 0;
      }
    }
    
    #map{
      width: 100%;
      height: 500px;
      margin: 0 auto;
    }
  }

  


}
