<div class="row success_wrapper">
  <div class="large-12 medium-12 small-12 columns">
    <center>
      <%= image_tag('fa-check-circle.png', class: 'success_check') %>
    </center>
    <section class="success_body">
      
      <p>Thanks for choosing TouriMe to be your best travel companion.<br />
        You will receive your booking confirmation in email soon.</p>

      <h3>Wish you a great journey in amazing Cambodia!</h3>

      <%= image_tag('line.png', class: 'line_break') %>

      <h4>Share around your plans!</h4>
      <span><%= social_share_button_tag('Wish you a great journey in amazing Cambodia!', :url => @domain + tour_path(@trip))%></span>
    </section>
  </div><!-- end of columns -->
</div><!-- end of success_wrapper -->
