@import '../settings';
@import '../foundation_and_overrides';

#footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 0;

  text-align: center;

  p, a {
    font-weight: 300;
    font-size: 0.87rem;
  }

  a {
    color: white;
  }

  .links {
    float: right;
    padding: 3px 0;
    a {
      margin: 0 $footer-link-margin;
      font-size: $footer-link-line-height;

      @media #{$media-phone-smaller}{
        display: block;
      }

      @media #{$media-phone-larger}{
        display: inline-block;
      }
    }
  }

  .contacts {
    padding: 3px 0;
    a {
      .fa {
        width: $footer-contact-icon-size;
        height: $footer-contact-icon-size;

        vertical-align: middle;
        padding-top: ($footer-contact-icon-size - 14px) / 2 - 1;
        margin: 0;

        border-radius: 50px;
        border: 1px solid white;
      }

      margin: 0 8px;
    }
  }

  .copyright {
    padding: 7px 0;
    font-weight: 300;
    font-size: $footer-copyright-font-size;
    @media #{$media-phone-smaller}{
      padding: 0;
      margin-top: 5px;
    }

    span {
      margin-right: 25px;
    }
  }

}
