@import '../settings';
@import '../foundation_and_overrides';

#footer{
  color: white;
  background-color: rgba(0,0,0,0.4);
  padding: 32px;

  text-align: center;

  p,a{
    font-weight: 300;
    font-size: 14px;
  }

  a{
    color: white;
  }

  .links a{
    margin: $footer-link-margin;
    font-size: $footer-link-line-height;

    @media #{$media-phone-smaller}{
      display: block;
    }

    @media #{$media-phone-larger}{
      display: inline-block;
    }
  }

  .contacts{

    a{
      .fa{
        width: $footer-contact-icon-size;
        height: $footer-contact-icon-size;

        vertical-align: middle;
        padding-top: ($footer-contact-icon-size - 14px) / 2 - 1;
        margin: 0;

        border-radius: 50px;
        border: 1px solid white;
      }

      margin: 0 8px;
    }
  }

  .copyright p{
    font-size: $footer-copyright-font-size;
  }
}
