@import 'settings';
#content .page{
  background: rgba(255, 255, 255, 0.6);
  ol{
    list-style: none;
  }

}


button.login-button{
  background-color: #008CBA;
  border-color: #007095;
  width: 100%;
  a{
    color:white;
  }
}
.login-button:hover{
  background-color: #008CBA;
  border-color: #007095;
}
