#content .page{
  overflow-x: hidden;
  background: white;
  padding-top: 20px;
  padding-bottom: 30px;
  padding: 28px 40px 55px;
  box-shadow: 0 -2px 20px 1px rgba(0, 0, 0, 0.35);
  ol{
    list-style: none;
  }

}