@import 'settings';

#sign_banner.banner {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;

  padding: 10px 0;

}

.top-bar {

  .title-area {
    width: 150px;
    float: left;
    .logo-wrap {
      @media #{$media-pad-smaller}{
        width: 80%;
      }
      width: 100%;
    }
  }
  .top-bar-section {
    float: right;
    .login-logout-btn {
      color: white;
      font-weight: 400;
      font-size: 0.93rem;
      @media #{$media-pad-smaller}{
        text-align: right;
        margin-right: 20px;
      }
      .login-icon {
        margin-right: 10px;
      }

      .user-profile-img {
        width: 40px;
        border-radius: 100%;
        margin-right: 10px;
      }

    }
  }
  .home-top-bar-section {
    float: right;
    .login-logout-btn {
      color: #FFB94E;
      font-weight: 400;
      font-size: 0.93rem;


      @media #{$media-pad-smaller}{
        text-align: right;
        margin-right: 20px;
      }

      .login-icon {
        margin-right: 10px;
      }

      .user-profile-img {
        width: 40px;
        border-radius: 100%;
        margin-right: 10px;
      }

    }
  }
}


