.yy-button{
  background: transparent;
  color: white;

  font-weight: 300;
  letter-spacing: 1px;

  padding: 5px 10px;

  &:hover{
    color: white;
    background-color: #007095;
  }
  border-radius: 4px;
}

#sign_banner.banner{
  display: block;
  background-color: black;

  color: white;
  text-align: center;
  text-transform: uppercase;

  padding: 20px 0;

  .click-here{
    margin-left: 15px;
    border: 1px solid white;
  }
  
  .close{
    vertical-align: middle;
    margin: 10px;
  }
}

.site-bar{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 10px;

  a{
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  text-align: center;

  .site-title{
    display: inline-block;

    img{
      display: inline-block;
      vertical-align: middle;
      height: 42px;
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .site-bar-button{
    i.fa{
      margin-right: 10px;
    }
    margin-top: 10px;
    margin-right: 10px;
  }
  border-bottom: 2px solid #ffffff;
}

