<p>Dear Customer, <br ><br >

  Welcome to TouriMe, your order has been confirmed with the following reference id.
  <br><br>
  <span id="reference_id"><%= @purchase.reference_id %></span>

  <br ><br >
  And the tour would start in <%= @purchase.start_date %>, according to your booking.
  
  <br ><br >
  Thanks For Travelling With Us.<br >
  <a href="http://tourime.com">TOURIME TEAM</a.
</p>

