// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'settings';
.drivers{
  background-color: white;
  @media #{$media-pad-larger}{
    padding: 20px 50px;
  }

  .driver-item{
    width: 100%;
    min-width: 200px;
    height: 310px;
    text-align: left;
    margin: 15px 0;
    display: inline-flex;
    background-color: #fff;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    img{
      float: left;
      position: absolute;
      border-radius: 4px;
    }

    .description{
      position: absolute;
      min-height: 130px;
      width: 100%;
      bottom: 0;
      padding: 15px;
      border-top: 8px solid white;
      border-radius: 0 0 4px 4px;
      background-color: whitesmoke;
      box-shadow: 0 -2px 20px 1px rgba(0, 0, 0, 0.45);

      .avatar{
        width: 90px;
        height: 90px;
        position: absolute;
        top: -45px;
        right: 15px;

        img{
          border-radius: 45px;
          border: 5px solid white;
          display: inline-block;

          width: 90px;
          height: 90px;
        }
      }

      .intro p{
        font-size: 14px;
        color: black;
        font-weight: 300;
        display: block;
      }

      .list-contact{
        position: absolute;
        bottom: 6px;
        right: 10px;

        a i.fa{
          color: #787878;
          font-size: 1.25em;
          padding: 2px 4px;
        }
      }
    }
  }
  .hvr-float{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
}
