@import "../settings";

#content .driver-profile{
  background-color: white;
  .profile-page-hero{
    background-position: 50% 0%;

    height: 400px;
    background-size: cover;

    overflow: hidden;

    p{
      position: absolute;
      right: 3%;
      margin-top: 20px;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid white;
      color: white;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.3px;

      span{
        margin-left: 10px;
      }
    }

    img.cover-image{
      width: 100%;
    }
  }

  .profile-page-body{
    .profile-basic-info{
      background-color:  white;
      padding: 0;
      height: 100%;

      .profile-avatar{
        width: 220px;
        height: 220px;
        border-radius: 110px;
        background-color: white;
        box-shadow: -2px 0px 10px -1px rgba(125, 125, 125, 0.8);

        img.avatar-image{
          width: 210px;
          height: 210px;
          border-radius: 105px;
          margin: 5px;
        }

        margin-top: -15%;
        margin-left: 15%;
      }

      .profile{
        padding: 10px;
        text-align: center;
        position: relative;
        a{
          color: black;
        }

        .divider{
          width: 30px;
          border: 1px solid black;
          margin: 0 auto;
        }

        .contact-info{
          text-align: left;
          margin: 15px;

          i.fa{
              margin: 0 10px;
          }
        }
      }

      .profile-page-details{
        background-color: whitesmoke;
        border-top: 2px solid silver;
        padding: 45px 10% 0px 10%;

        .section.comments{
          margin: 20px 0;

          i.fa.fa-list-ul{
            margin-right: 10px;
          }

          .tag.comment{
            border-bottom: 1px solid gainsboro;
            margin: 12px;
            background-color: #fff;
            padding: 12px;

            .ratting .fa{
              padding: 0;
              margin: 0;
            }
          }
        }
      }

      height: 100%;
    }

    // Still in profile page body
    .share-box{
      border-left: 1px solid silver;
      padding: 20px;
      margin: 15px 0;

      .butt-favorite{
        border: 1px solid silver;
        padding: 15px;
        .fa{ margin-right: 15px;}
      }

      .social-share-button{
        display: block;
      }
    }
  }

  .profile-page-matrix {
    background-color: #323232;
    color: white;
    font-weight: 400;

    padding: 30px 25px 50px;


    .section{
      margin: 15px 0;
      h4{ // TODO: h4 is not very descriptive
        color: white;
        font-size: 0.9rem;
        font-weight: 400;
        i{
          font-size: 1.4rem;
          margin-right: 15px;

          @media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint){
            display: block;
          }
        }
      }

      .tag{
        background-color: rgba(255, 255, 255, 0.2);
        display: inline-block;
        padding: 5px 10px;
        border-radius: 6px;
        margin: 2px;
        font-weight: 300;
      }
    }

    height: 100%;
  }
}

.row.full-width{
  width: 100%;
  max-width: 100%;
}

