@media (max-width: 780px) {

  .mobile.menu {
    display: block;
  }

  .mobile.menu {
    background: #1A1A1A;
    right: -285px; /* start off behind the scenes */
    top: 0px;
    height: 100%;
    position: fixed;
    width: 285px;
    padding: 22px;

    .icon-close {
      color: white;
    }

    button {

      margin-top: 28px;
    }
  }

  #loginModal {
    position: fixed;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    top: 0px;
    bottom: 0px;
    border-radius: 0px;
  }

  .search-results {
    padding-top: 25px;
  }
  .drivers.row {
    padding-top: 35px;
    padding-bottom: 0px;

    .columns {
      padding-left: 0px;
      padding-right: 0px;

      .list-fav, .list-contact {
        bottom: 18px;
      }

      .ember-view.driver-item .description {
        padding-bottom: 35px;
      }

      .ember-view.driver-item img.item-bg, .ember-view.driver-item .description {
        border-radius: 0px;
      }

      .ember-view.driver-item {

        border-radius: 0px;
        margin: 0px;

        width: 100%;
      }

    }

    padding: 0px;

  }

  .top-bar-buttons .mobile.menu-icon {
    display: block;
    margin-top: 12px;
    font-size: 1.1rem;

    color: white;

  }

  .top-bar-buttons button.small {
    display: none;

  }

  .button.small {
    padding: 0.8rem 0rem;
  }

  .button.small:hover {
    background: none;
  }

  body {
    background: rgba(0, 0, 0, 0.13);
  }

  .fullbg-img {
    display: block
  }

  video {
    display: none;
  }

  .tag-line {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  /* .search-form{
width: 100%!important;
   padding-bottom: 100%!important;
   -moz-border-radius: 100%!important;
   -webkit-border-radius: 100%!important;
   border-radius: 100%!important;
}*/

  .ember-view.driver-item {
    width: 90%;
    height: 300px;

    .avatar {
      top: -70px;
    }

  }

  .banner {
    text-align: left;
    font-size: 14px;

    a {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 0px;
    }
  }
}

