/*
 *= require font-awesome
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require foundation_and_overrides
 *= require social-share-button
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

@import 'settings';
@import 'foundation_and_overrides';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper{
  min-height: 100%;
  position: relative;

  .page-header{
    padding: 50px 0;
  }
}

#content{
  @media #{$media-phone-smaller}{
    padding-bottom: $footer-height;
  }
  @media #{$media-phone-larger}{
    padding-bottom: $footer-height-medium-screen;
  }

  @media #{$media-pad-larger}{
    padding-bottom: $footer-height-large-screen;
  }

}
#footer{
  @media #{$media-phone-smaller}{
    height: $footer-height;
  }

  @media #{$media-phone-larger}{
    height: $footer-height-medium-screen;
  }

  @media #{$media-pad-larger}{
    height: $footer-height-large-screen;
  }

  width: 100%;
  height: $footer-height;

  position: absolute;
  bottom: 0;
  left: 0;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, label, select {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
