// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'settings';

.cards {
  background-color: white;
  .search-results {
    padding: 30px 15px 10px;
    @media #{$media-pad-larger}{
      max-width: 1240px;
      margin: 0 auto;
    }

    @media #{$media-pad-smaller}{
      padding: 2px 0;
    }
    .card-wrapper {
      margin-bottom: -50px;
      @media #{$media-pad-smaller}{
        padding: 0;
        margin-bottom: -80px;
      }
      .card-item {
        text-align: left;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        margin-lfet: auto;
        margin-right: auto;
        margin-bottom: -50px;
        @media #{$media-pad-smaller}{
          margin-bottom: -80px;
        }
        .item-bg {
          width: 100%;
        }
        .name {
          position: relative;
          top: -40px;
          padding-left: 15px;
          color: white;
          font-size: 1.12rem;
          font-weight: 700;
          background-color: rgba(0, 0, 0, 0.5);
          padding-top: 5px;
          padding-bottom: 10px;
        }

        .price {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background-color: #474747;
          font-size: 1.37rem;
          font-weight: 700;
          color: white;
          text-align: center;
          line-height: 60px;
          position: relative;
          top: -270px;
          left: 78%;

          @media #{$media-pad-smaller}{
            width: 50px;
            height: 50px;
            top: -220px;
            left: 78%;
          }
        }

        .desc {
          padding-left: 15px;
          color: black;
        }

        .offset {
          position: relative;
          top: -90px;
        }
        .review {
          color: black;
          margin-top: 5px;
          .rating {
            margin-left: 15px;
            color: #FFB400;
          }
          .review-num {
            margin-right: 15px;
          }

          .vehicle {
            @extend .review-num
          }
        }
        .avatar {
          width: 60px;
          height: 60px;
          position: relative;
          top: -270px;
          left: 78%;

          .item-avatar {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 3px solid white;
          }
        }
      }
    }
  }

  .hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }

}
