.bg-img {
  background-image: image-url('fullbg1.jpg');
  background-size: cover;
  background-position: 50% 50%;
  z-index: -100;
}

@media screen and (max-width: 480px){
  .bg-img {
    background-image: image-url('mobile_bg_homepage.jpg');
  }
}


.profile-page-body {
  background: image-url('background/bg-blur-23.jpg') no-repeat center center fixed;
}
