// Place all the styles related to the purchase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paypal-container {
  display: inline-block;
  margin: auto;
}

#braintree-paypal-button {
  width: 100%!important;
  height: auto!important;
}

.payment_box_wrapper {
  
  .cards_wrapper {
    p {
      text-align: center;
      font-weight: 500;
    }
  }
}

#card_details {
  display: none;
}

#bt_charge {
  cursor:pointer;
  background: #FEBD5A;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 0px; 
  border: 0px;
  padding: 10px 20px;
  width: auto!important; 
}

.success_wrapper {
  background: transparent;  
  padding-bottom: 100px;
  img.success_check {
    margin: auto;
    text-align: center;
    max-width: 100px;
    margin-top: -30px; 
  }
  .success_body {
    padding: 30px 0px 20px 0px;
    text-align: center;
    max-width: 650px;
    margin:auto;
    width: 100%;
    p {
      font-size: 1.12rem;
      margin: 20px 0px 30px 0px;
    }
    h4 {
      margin: 10px 0px 20px 0px;
      font-weight: 500;
    }
    img.line_break {
      margin: 20px 0px;
      max-width: 400px;
      width: 100%;
    }
    h3 {
      font-weight: 500;
    }
  }
}
