// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'settings';

.hidden {
  display: none;
}

.trip_wrapper {
  background: #F5F5F5;
  margin-top: -70px;
  .trip-cover-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f5f5f5;
  }
  .trip_head_wrapper {
    margin: 0px;
    max-width: 100%;
    background: #FFFFFF;
    #trip_header {

      @media #{$media-pad-smaller}{
        display: block;
      }

      @media #{$media-pad-larger}{
        display: inline-flex;
      }
      width: 100%;

      padding-top: 0px;
      .trip_top_head {
        padding-top: 32px;
        .trip-title {
          display: inline-flex;

          h1 {
            font-weight: 600;
            font-size: 1.6rem;
          }
          .rating {
            color: #FFB400;
            font-size: 20px;
            margin: 10px 0 0 20px;
          }
        }
        .meta_head {
          margin-top: 20px;

          .meta_block {
            display: inline-block;
            .trip-logo {
              margin-right: 10px;
              font-size: 1.2em;
            }

            p {
              font-size: 0.85em;
              margin-right: 30px;
              text-align: center;

              .block {
                display: block;
                font-weight: 600;
                font-size: 1.2rem;
              }

              span.checkpoints {
                text-align: left;
              }

              span.meta {
                float: left;
              }
            }
          }
        }
      }

      .trip_top_info {
        border-left: 1px solid #979797;
        padding-top: 15px;
        padding-bottom: 20px;
        h1 {
          text-align: center;
        }
        .meta_func {
          display: block;
          text-align: center;
          margin: auto;
          width: 80%;

          a {
            display: block;
            width: 90%;
            margin: auto;
            padding: 10px 5px;
            text-transform: uppercase;
            padding: 10px 10px;
          }

          a.trip_book_now {
            color: #FFFFFF;
            background: #323232;
            border-radius: 5px;
            margin-bottom: 8px;
            border: 1px solid #323232;
          }

          a.share {
            color: #464646;
            border: 1px solid #979797;
            border-radius: 5px;
          }
        }
      }
    }
  }


  .trip_detail_wrapper {
    #trip_sidebar {
      border-left: 1px solid #979797;
      padding-top: 35px;
      h3 {
        font-size: 20px;
        font-weight: 500;
        color: #464646;
      }
    }

    #detail-content {
      .header {
        font-size: 1.3rem;
        font-family: 'Nunito', sans-serif;
        color: #FFB400;
        margin: 20px 0;
      }
      ol {
        display: list-item;
        list-style: decimal;
        line-height: 30px;
      }
      .highlight {
        text-align: left;

      }

      .include-exclude {
        border-right: solid 3px white;
        border-left: solid 3px white;
        text-align: left;
      }
      .tour-start-end {
        text-align: left;
      }

      .detail {
        .trip-label {
          h5{
            font-size: 1.12em;
            font-weight: 600;
            color: #464646;
            margin-left: 15px;
          }

        }
        .trip_content {
          margin: 5px 20px;
          color: #464646;
          font-size: 0.93rem;
          font-weight: 300;
          line-height: 22px;
          font-family: 'Nunito', sans-serif;
          padding-bottom: 30px;
          border-bottom: 1px solid #C8C8C8;
        }
        .price {
          margin: 20px 0;
          color: green;
        }

      }
      .driver-container {
        .content_head {
          font-size: 1.2rem;
          font-weight: 600;
          margin-left: 10px;
        }
        .tour-driver {
          border-bottom: 1px solid grey;
          margin: 0;
          font-family: 'Muli', sans-serif;
          a {
            color: black;
          }
          .profile-avatar {

            .avatar-container {
              width: 80px;
              height: 80px;
              margin:10px 0;
              @media #{$media-pad-smaller}{
                margin-left: auto;
                margin-right: auto;
              }
              .avatar-image {
                border-radius: 50em;
                border: 2px solid white;
                width: 100%;
              }

            }
          }

          .rating-review {
            @media #{$media-pad-smaller}{
              text-align: center;
            }

            text-align: left;
            padding-right: 20px;
            font-weight: 500;
            margin:18px 0;
            color:black;

            .rating {
              color: #FFB400
            }

            .comment {

            }
          }

          .vehicles {

            @media #{$media-pad-smaller}{
              line-height: 30px;
            }

            @media #{$media-pad-larger}{
              line-height: 60px;
              margin:13px 0;
            }

            margin: 0px;
            padding: 0px;
            .vehicle {
              margin: 0;
              @media #{$media-pad-smaller}{
                padding-top: 10px;
              }

              .vehicle-detail {

                @media #{$media-pad-larger}{
                  display: inline-flex;

                }

                .icon-container {
                  width: 50px;
                  margin:12px 5px;
                  @media #{$media-pad-smaller}{
                    margin: auto;
                  }

                }

                .vehicle-name {
                  @media #{$media-pad-smaller}{
                    line-height: 30px;
                    text-align: center;
                  }

                  @media #{$media-pad-larger}{
                    line-height: 70px;
                    margin-left: 10px;
                  }

                }
              }

            }

          }

          .price {
            @media #{$media-pad-smaller}{
              line-height: 80px;
              padding: 0;
              text-align: left;
            }

            @media #{$media-pad-larger}{
              line-height: 60px;
              padding: 6px 0;
              text-align: right;
            }
          }
          .book-btn {
            margin: 20px 0;
            .btn-book {
              @media #{$media-pad-smaller}{
                margin-top: 10px;
                float: left;
              }

              float: right;
              background-color: black;
              color: white;
              padding: 2px 15px;
              font-size: 12px;
              font-weight: 400;
              line-height: 29px;
            }
          }
        }
      }

    }
  }
}

.rhs {
  #payment-form {
    border: 1px solid;
    backgroud-color: white;
    position: fixed;
    width: 235px;
    padding: 30px 10px;
    background-color: wheat;
  }
}

.billing-info {
  max-width: 700px !important;
  padding: 30px !important;
  .divider {
    margin-top: 10px;
    border-top: 1px solid #C8C8C8;
  }

  .booking_label {
    margin-right: 30px;
  }

  .bill-label {
    line-height: 37px;
  }

  .pic-section {
    width: 200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #f5f5f5;
    .avatar {

    }
  }

  .price-section {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    .price {
      font-size: 36px;
    }
  }

  .pay-lah {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    .pay-btn {
      background-color: black;
      width: 120px;
      color: white;
      font-size: 18px;
      line-height: 32px;
      border: none;
      border-radius: 3px;
    }
  }

}
