// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#detail-content {
  border: solid 1px;
  .detail {
    .price {
      margin: 20px 0;
      color: green;
    }
  }

  .tour-driver{
    height:100px;
    border-bottom:1px solid grey;
    padding:10px 0;
    .avatar-image{
      width: 80px;
      border-radius: 80px;
      border:2px solid white;
    }
    .rating-review{
      padding:16px 0;
      .rating{
        color: #FFB400
      }
      .comment{

      }
    }
    .price{
      line-height:80px;
    }
    .book-btn{
      margin:25px 0;
      .btn-book{
        background-color: black;
        color: white;
        padding: 8px 15px;
        font-size:12px;
        font-weight: 400;
        line-height:29px;
      }
    }
  }
}

.rhs {
  #payment-form {
    border: 1px solid;
    backgroud-color: white;
    position: fixed;
    width: 235px;
    padding: 30px 10px;
    background-color: wheat;
  }

}