// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#detail-content {
  border: solid 1px;
  .detail {
    .price {
      margin: 20px 0;
      color: green;
    }
  }
}

.rhs {
  #payment-form {
    border: 1px solid;
    backgroud-color: white;
    position: fixed;
    width: 250px;
    padding: 30px 10px;
    background-color: wheat;
  }

}