@import 'settings';

#content {

  .tag-line {
    @media #{$media-pad-smaller}{
      width: 100%;
    }

    @media #{$media-pad-larger}{
      max-width: 960px;
    }

    text-align: center;
    padding-bottom: 5px;
    margin: 0 auto;

    h1 {
      color: white;
      font-size: 3rem;
    }
    h3 {
      color: white;
      font-size: 1.15rem;
    }

  }
  .header-content {
    @media #{$media-pad-larger}{
      margin: 50px 0;
    }

    .line {
      width: 72%;
      border-bottom: 1px solid white;
      margin: 0 auto;
    }
  }

  .home-page-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .show-subject-button {
      @media #{$media-phone-smaller} {
        width: 250px;
        height: 250px;
        margin: 10px auto;

        .show-subject-button-content {
          padding-top: 10%;
          padding-left: 20px;
          padding-right: 20px;
          color: black;
          h3 i.fa {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
          p {
            font-size: 0.93rem;
          }

          .logo-img {
            .logo {
              width: 80px;
            }
          }
        }
        font-size: 1.25rem;
      }

      @media #{$media-phone-larger} {
        width: 250px;
        height: 250px;
        margin: 10px auto;

        .show-subject-button-content {
          padding-top: 10%;
          padding-left: 20px;
          padding-right: 20px;
          color: black;
          h3 i.fa {
            font-size: 1.6rem;
            margin-bottom: 12px;
          }
          p {
            font-size: 0.93rem;
          }

          .logo-img {
            .logo {
              width: 80px;
            }
          }
        }
      }

      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.35);
      text-align: center;

      //overflow: hidden;

      .show-subject-button-content {
        padding-left: 20px;
        padding-right: 20px;
        color: black;
        h3 i.fa {
          font-size: 1.6rem;
          display: block;
        }
        p {
          font-size: 0.93rem;
        }

        .logo-img {
          .logo {
            width: 80px;
          }
        }
        text-align: center;
        letter-spacing: 0.6px;
        margin-bottom: 8%;
        text-weight: 900;
      }

    }

  }

  .profile-page-details .line {
    width: 100%;
    border-bottom: 1px solid silver;
    margin: 0 auto;
  }
}

