@import 'settings';

.homepage-header {
  background-image: image-url('fullbg1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  .header-content {
    height: 100%;
    .title {
      padding-top: 8%;
      text-align: center;
      @media #{$media-phone-smaller} {
        margin: 0 auto;
        padding-bottom: 0;
      }
      h1 {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        @media #{$media-phone-smaller} {
          font-size: 1.5rem;
          font-weight: 300;
        }
      }
      h4 {
        color: white;
      }
    }
    .exploration {
      margin: 0 auto;
      margin-top: 5%;
      text-align: center;
      width: 700px;
      h3 {
        color: #FFB94E;
        font-weight: 600;
        margin-bottom: 10%;
      }
      h5 {
        color: white;
        font-weight: 600;
      }
      a {
        color: white;
        .exploration-box {
          margin: 0 auto;
          position: relative;
          width: 150px;
          height: 150px;
          background-color: #FFB94E;
          border-radius: 50%;
          i {
            position: absolute;
            left: 0;
            right: 0;
            top: 25%;
          }
        }
      }
      @media #{$tablet} {
        width: 600px;
      }
      @media #{$phone} {
        width: 300px;
        a {
          .exploration-box {
            width: 100px;
            height: 100px;
            i {
              font-size: 50px;
            }
          }
        } 
      }
    }
  }
}
.homepage-content {
  .more-info{
    background-color: white;
    padding: 15px 0;
    text-align: center;
    .benefit {
      width: 33%;
      padding: 5px;
      display: inline-block;
      p {
        margin-top: 10px;
      }
      i {
        color: #FFB94E;
      }
    }
    @media #{$tablet} {
      .benefit { width: 50%; }
    }
    @media #{$phone} {
      .benefit {
        width: 100%;
        i {
          font-size: 70px;
        }
      }
    }
  }
  .feature-experiences {
    background-color: #FFB94E;
    padding: 20px 0;
    h3 {
      text-align: center;
      color: white;
      font-weight: 600;
    }
    .card {
      .card-tour-image {
        width: 100%;
        height: 200px;
        img {
          width: 100%;
          position: relative;
          margin: 0 auto;
          height: inherit;
        }
        span.card-title {
          font-size: 18px;
          font-weight: 700;
          background-color: rgba(0,0,0,0.5);
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        span.card-tour-price {
          position: absolute;
          top: -1%;
          right: 5%;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #474747;
          font-size: 18px;
          font-weight: 600;
          color: white;
          text-align: center;
          padding-top: 12px;
        }
        @media #{$laptop} {
          height: 300px;
        }
        @media #{$tablet} {
          height: 220px;
        }
        @media #{$phone} {
          height: auto;
          span.card-tour-price {
            width: 45px;
            height: 45px;
            font-size: 12px;
          }
        }
      }
      .card-action {
        width: 100%;
        display: inline-flex;
        background-color: white;
        padding: 8px;
        @media #{$tablet} {
          font-size: 14px; 
        }
        @media #{$phone} {
          font-size: 13px; 
        }
        .rating {
          color: #FFB400;
        }
        .review-num {
          text-align: right;
        }
        .rating,
        .review-num {
          width: 50%;
        }
      }
    }
  }
}

#content {

  .tag-line {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin: 0 auto;
    @media #{$media-phone-smaller} {
      margin: 0 auto;
      padding-bottom: 0;
    }
    h1 {
      color: white;
      font-size: 3rem;
      @media #{$media-phone-smaller} {
        font-size: 1.6rem;
        font-weight: 500;
        margin:5px
      }
    }
    h3 {
      color: white;
      font-size: 1.15rem;
    }

  }
  // .header-content {
  //   @media #{$media-pad-larger}{
  //     margin: 50px 0;
  //   }
  //   .line {
  //     width: 72%;
  //     border-bottom: 1px solid white;
  //     margin: 0 auto;
  //   }
  // }

  // .home-page-content {
  //   @media #{$media-phone-smaller} {
  //     width: 100%;
  //   }
  //   width: 80%;
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin-top: 15px;

  //   .show-subject-button {

  //     @media #{$media-phone-smaller} {
  //       margin: 0 auto;
  //       width: 135px;
  //       height: 135px;
  //       border: 2px solid white;
  //       background-color: transparent;
  //       .show-subject-button-content {
  //         padding-top: 10%;
  //         padding-left: 15px;
  //         padding-right: 15px;
  //         color: black;
  //         h3{
  //           font-size: 1.2rem;
  //           margin-bottom: 10px;
  //           color:white;
  //           font-weight: 500;
  //         }
  //         .logo-img {
  //           .logo {
  //             margin: auto;
  //             padding-top:10px;
  //             width: 80px;
  //           }
  //         }
  //       }
  //       font-size: 1.25rem;
  //     }

  //     @media #{$media-phone-larger} {
  //       width: 250px;
  //       height: 250px;
  //       margin: 10px auto;

  //       .show-subject-button-content {
  //         padding-top: 10%;
  //         padding-left: 15px;
  //         padding-right: 15px;
  //         color: black;
  //         h3 i.fa {
  //           font-size: 1.6rem;
  //           margin-bottom: 12px;
  //         }
  //         p {
  //           font-size: 0.93rem;
  //         }

  //         .logo-img {
  //           .logo {
  //             margin: auto;
  //             width: 80px;
  //           }
  //         }
  //       }
  //     }
  //     border-radius: 100%;
  //     background-color: rgba(255, 255, 255, 0.7);
  //     box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.35);
  //     text-align: center;
  //     //overflow: hidden;
  //     .show-subject-button-content {
  //       padding-left: 15px;
  //       padding-right: 15px;
  //       color: black;
  //       h3 i.fa {
  //         font-size: 1.6rem;
  //         display: block;
  //       }
  //       p {
  //         font-size: 0.93rem;
  //       }

  //       .logo-img {
  //         .logo {
  //           margin: auto;
  //           width: 80px;
  //         }
  //       }
  //       text-align: center;
  //       letter-spacing: 0.6px;
  //       margin-bottom: 8%;
  //       text-weight: 900;
  //     }
  //   }
  // }
  // .profile-page-details .line {
  //   width: 100%;
  //   border-bottom: 1px solid silver;
  //   margin: 0 auto;
  // }
}
